@{
    ViewBag.Title = "Hot guys";
}

<div>
    <div class="container d-flex  align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Hot Guys</h1>


            <div class="p-1" "><p>Cold beer and hot pot.</p></div>

            <h2 class="text-white-50 mx-auto mt-2 mb-5">Order what you want.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="/Account/Login">Get Started</a>
            <p> </p>

        </div>
    </div>
</div>

<div class="p-sm-1">
    <img class="img-responsive" src="~/Image/40776724972db49fbe0ee3c3d19df46d.jpg" />

</div>
