@{
    ViewBag.Title = "Hot guys";
}
    <header class="full-height">
        <div class="container d-flex  align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Hot Guys</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Order what you want.</h2>
                <a class="btn btn-primary js-scroll-trigger" href="/Account/Login">Get Started</a>
            </div>
        </div>
    </header>